name: Deploy to gh-pages

on:
  push:
    branches:
      - master
    #tags:
    #  - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10


jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.4

    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: lts/*
    - run: yarn
    - name: Build and deploy website
      run: |
        cd example
        yarn
        yarn build
        yarn push-gh-pages --force
